{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Climate Control</title>
        {% comment %}
        <script src="{% static 'js/plotly-3.0.1.min.js' %}"></script>
        {% endcomment %}
        <script src="https://cdn.plot.ly/plotly-3.0.1.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}" />
    </head>
    <body>
        <div class="header">
            <h1>Climate Control</h1>
        </div>
        <div class="main">
            <div class="data-container">
                <div class="loader"></div>
                <div class="data-last">
                    <div class="info-last-update">
                        <div class="info-text">Last sensor measurement</div>
                        <div class="progress-last-loader"></div>
                    </div>
                    <div class="date">
                        Date and time: <span class="current-formatted-date"></span>
                    </div>
                    <div class="humidity">
                        Current humidity:<span class="current-humidity"></span>
                    </div>
                    <div class="temperature">
                        Current temperature:<span class="current-temperature"></span>
                    </div>
                </div>
            </div>
            <div class="graph-container">
                <div class="buttons">
                    <div class="hour-btn-container">
                        <button class="hour-btn">1 hour</button>
                        <button class="update-graph-btn">↻</button>
                    </div>
                    <button class="day-btn">24 hours</button>
                    <button class="week-btn">1 week</button>
                </div>
                <div class="graph"></div>
                <div class="info-graph-update">
                    <div class="info-text">Updated graph</div>
                    <div class="progress-graph-loader"></div>
                </div>
                <div class="info-graph">
                    <div class="info-text">Data is added every 5 min.</div>
                </div>
            </div>
        </div>
        <div class="warning-container">
            <div class="warning-messege"></div>
        </div>
        <script>
            const WS_DATA_URL = '{{ WS_DATA_URL }}';
            const MAX_TEMPERATURE = {{ MAX_TEMPERATURE|safe }};
        </script>
        <script type="module" src="{% static 'js/main.js' %}"></script>
    </body>
</html>
