html {
    height: 100%;
}

body{
    font-family: Open Sans, sans-serif;
    padding: 0 40px 40px;
    background-image: url('../img/bg.jpg');
    color: #19191c;
}

.header{
    color:#ef4704;
    border-bottom: 1px solid #c5c5c5;
}

.main{
    padding-top: 20px;
}

.data-container{
    min-height: 40px;
}

.data-last{
    display: none; 
    flex-direction: column;
    position: relative;
    gap:15px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    width: 400px;
}

.title {
    margin-right: 5px;
}

.date,
.temperature,
.humidity{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.date::before,
.temperature::before,
.humidity::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    margin-right: 10px;
}

.countdown{
    display: inline-block;
    width: 5px;
    margin-right: 5px;
}

.date::before {
    background-image: url('../img/icon-date.svg');
}

.temperature::before {
    background-image: url('../img/icon-temperature.svg');
}

.humidity::before {
    background-image: url('../img/icon-humidity.svg');
}

.current-formatted-date {
    margin-left: 5px;
    color: #454545;
}

.humidity span {
    color: #3194d6;
    margin-left: 5px;
}

.temperature span {
    color: #f65f80;
    margin-left: 5px;
}

.graph-container{
    display: none;
    position: relative;
    min-width: 340px;
}

.graph {
    min-height: 400px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 20px;
}

.buttons {
    z-index: 1;
    padding: 20px;
    display: none;
    border-radius: 10px 10px 0 0;
}

.buttons .empty {
    margin-bottom: 20px;
}

.buttons button {
    background-color: #5295fa;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
}

.buttons button:hover{
    cursor: pointer;
    opacity: 0.9;
}

.buttons button.active {
    background-color: #b3b3b3;
    opacity: 1;
    cursor: default;
}

.hour-btn-container {
    display: flex;
}

button.hour-btn  {
    border-radius: 5px 0px 0px 5px;
}

button.update-graph-btn{
    border-radius: 0px 5px 5px 0px;
    border-left: 1px solid #b5c3d9;
}

.info-last-update, .info-graph-update {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
   
}

.info-text {
    font-size: 10px;
    color: #747474;
}

.update-info {
    display: none;
}

.info-graph {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 10px;
    color: #747474;
}

.error {
    padding-top: 40px;
}

.warning-container {
    display: none;
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 19px 0px rgba(255, 0, 0, 0.8) inset;
}

.warning-messege {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    padding: 5px;
    line-height: 14px;
    background: #ea6c7eb3;
    border-radius: 5px;
}

/*loader*/
.loader {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    border: 6px solid #cacaca;
    border-top: 6px solid #ef4704;
    border-radius: 50%;
    animation: infyways-loader-spin 1000ms linear infinite;
  }

@keyframes infyways-loader-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*progress-last-loader, progress-graph-loader*/
.progress-last-loader, .progress-graph-loader {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    border-radius: 50%;
    background: conic-gradient(#f08155 0%, #e0e0e0 0%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-last-loader::before, .progress-graph-loader::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #e9f1fb;
}

.progress-graph-loader::before {
    background: #f8f2f6;
}

.progress {
    position: absolute;
    font-size: 14px;
    color: #f08155;
}

.progress {
    position: absolute;
    font-size: 14px;
    color: #f08155;
}

/* для графика */

.plotly-notifier {
    display: none;
}

.nsewdrag.drag.cursor-pointer{
    cursor: default;
}

@media (width < 700px){

    body {
        padding: 0 20px 20px; 
    }

    .buttons {
        flex-direction: column;
    }

    .warning-container {
        box-shadow: 0px 0px 19px 0px rgba(255, 0, 0, 0.4) inset;
    }

    .warning-messege {
        top: 5px;
        right: 10px;
        padding: 3px;
        font-size: 12px;
        line-height: 12px;
        border-radius: 4px;
    }
}

@media (width < 500px){

    body {
        padding: 0 10px 10px; 
    }

    .buttons {
        padding: 10px;
    }

    .buttons button{
        font-size: 14px;
        padding: 4px;
    }

    .date, .humidity, .temperature {
        font-size: 16px;
    }

    .date::before, .humidity::before, .temperature::before {
        width: 30px;
        height: 30px;
    }

    .data-last {
        width: 320px;
        padding: 20px 10px 10px;
        gap: 10px;
    }

    .graph {
        padding: 20px 10px 20px;
    } 
}