<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climate Control</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>  <!-- Подключаем Plotly -->
</head>
<body>
    <h1>Climate Control</h1>

    <!-- Блок для данных -->
   
    <div id="data-container">
        <p>Loading...</p>
        {% comment %} {% if data_all %}
            <div id="data-container">
                <p>Дата: <span id="date">{{ data_all.last.created_at }}</span> | 
                Температура: <span id="temperature">{{ data_all.last.temperature }}</span>°C | 
                Влажность: <span id="humidity">{{ data_all.last.humidity }}</span>%</p>
            </div>
        {% else %}
            <p>Данных нет</p>
        {% endif %} {% endcomment %}
    </div>

    <!-- Блок для графика -->
    {% comment %} <div id="graph-container">{{ graph_html|safe }}</div> {% endcomment %}
    <div id="graph-container"></div>

    <script>
        // Функция для обновления данных и графика
        function updateData() {

            fetch('/api/all')  // Отправляем запрос на сервер
                .then(response => response.json())  // Преобразуем ответ в JSON
                .then(data => {
                    if (!data || data.length === 0) {
                        console.error('Нет данных');
                        return;
                    }

                    // Обновляем данные на странице
                    const dataContainer = document.getElementById('data-container');
                    dataContainer.innerHTML = `
                        <div>
                            <p>Дата: ${data[data.length - 1].created_at} Температура: ${data[data.length - 1].temperature}°C Влажность: ${data[data.length - 1].humidity}%</p>
                        </div>
                    `
                    // Обновляем график
                    const graphContainer = document.getElementById('graph-container');
                    const dates = data.map(item => item.created_at);
                    const temperatures = data.map(item => item.temperature);
                    const humidities = data.map(item => item.humidity);

                    Plotly.react(graphContainer, [
                    { 
                        x: dates, 
                        y: temperatures, 
                        name: 'Температура (°C)', 
                        line: { color: 'blue' }, 
                        mode: 'lines+markers+text',  // Линии + точки
                        text: temperatures.map(t => `${t}°C`), // Подписи значений
                        hoverinfo: 'none',  // Показать дату, значение и подпись при наведении
                        textposition: 'top' // Позиция текста
                    },
                    { 
                        x: dates, 
                        y: humidities, 
                        name: 'Влажность (%)', 
                        line: { color: 'red' }, 
                        mode: 'lines+markers+text', 
                        text: humidities.map(h => `${h}%`), 
                        hoverinfo: 'none', 
                        textposition: 'top'
                    }
                    ], {
                        title: 'Температура и влажность',
                        xaxis: { 
                            title: 'Дата',
                            fixedrange: true  // Отключаем зум по оси X
                        },
                        yaxis: { 
                            title: 'Значение',
                            fixedrange: true  // Отключаем зум по оси Y
                        },
                        legend: { x: 0, y: 1 },
                        dragmode: 'false',
                        plot_bgcolor: '#e0e0e0'    // Цвет фона области построения (где линии)
                    }, {
                        displayModeBar: false,  // Отключаем панель инструментов
                    });
                })
                .catch(error => console.error('Ошибка:', error));
        }

        setTimeout(updateData, 1000);
        setInterval(updateData, 5000);
    </script>
</body>
</html>